<!DOCTYPE html>
<head>
   <title>Water Pump Current Status</title>
</head>

<body>
   <h1>Device Listing and Status</h1>

   <p>The water level is
   {% if water_level == 1 %}
      is ABOVE the sensor!!!
   {% else %}
      is below the sensor.
   {% endif %}
   <a href="/refresh/">Refresh reading</a>
   </p>

   <p>The pump is currently
   {% if pump_state == 1 %}
      off. <a href="/pump_on/">Turn pump ON</a>
   {% else %}
      ON! <a href="/pump_off/">Turn pump off</a>
   {% endif %}
   </p>

</body>
</html>
